# Contents 
    1. Importing Libraries 
    2. Importing all Data
    3. Addressing Missing Regions column in df 2017, 2018 and 2019
    4. Preparing the Data to merge
        4.1 Removing all unccessary columns
    5. Merging Data
    6. Exporting Merged Data

#### 1 Importing Libraries

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# establishing a path

path = '/Users/vickyczada/Library/CloudStorage/OneDrive-Personal/Documents/Career Foundry/Data Immersion/Achievement 6/World Happiness Report'

#### 2 Importing all data

In [3]:
df_2015 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2015_World_Happiness_Report.pkl'))

In [4]:
df_2016 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2016_World_Happiness_Report.pkl'))

In [5]:
df_2017 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2017_World_Happiness_Report.pkl'))

In [6]:
df_2018 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2018_World_Happiness_Report.pkl'))

In [7]:
df_2019 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2019_World_Happiness_Report.pkl'))

In [8]:
# creating a dataframe for Loop

dfs = [df_2015, df_2016, df_2017, df_2018, df_2019]

In [9]:
# checking that it has been correctly imported

for i, df in enumerate(dfs, start=2015):
    print(f"Head of df_{i}:")
    display(df.head())
    print("\n" + "-"*50 + "\n")

Head of df_2015:

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

--------------------------------------------------

Head of df_2016:

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

--------------------------------------------------

Head of df_2017:

,Country,Happiness Rank,Happiness Score,Whisker High,Whisker Low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

--------------------------------------------------

Head of df_2018:

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

--------------------------------------------------

Head of df_2019:

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

--------------------------------------------------

#### 3 Addressing Missing Regions column in df 2017, 2018 and 2019

In [10]:
# group by 'Region' and get list of countries in each region

region_countries = df_2015.groupby('Region')['Country'].apply(list)

In [11]:
# display the result

print(region_countries)

Region
Australia and New Zealand                                   [New Zealand, Australia]
Central and Eastern Europe         [Czech Republic, Uzbekistan, Slovakia, Moldova...
Eastern Asia                       [Taiwan, Japan, South Korea, Hong Kong, China,...
Latin America and Caribbean        [Costa Rica, Mexico, Brazil, Venezuela, Panama...
Middle East and Northern Africa    [Israel, United Arab Emirates, Oman, Qatar, Sa...
North America                                                [Canada, United States]
Southeastern Asia                  [Singapore, Thailand, Malaysia, Indonesia, Vie...
Southern Asia                      [Bhutan, Pakistan, Bangladesh, India, Nepal, S...
Sub-Saharan Africa                 [Mauritius, Nigeria, Zambia, Somaliland region...
Western Europe                     [Switzerland, Iceland, Denmark, Norway, Finlan...
Name: Country, dtype: object

In [12]:
country_region_dict

NameError: name 'country_region_dict' is not defined

In [13]:
# Add 'Region' to each DataFrame using map()
for df in [df_2017, df_2018, df_2019]:
    df['Region'] = df['Country'].map(country_region_dict)
    # (Optional) fill NaN if some countries didn't match
    df['Region'].fillna('Unknown', inplace=True)

NameError: name 'country_region_dict' is not defined

#### Merging Data

In [14]:
# Create a dictionary from region_countries

region_map = region_countries.to_dict()

In [15]:
# Invert the dictionary to map each 'Country' to 'Region'

country_to_region = {}
for region, countries in region_countries.items():
    for country in countries:
        country_to_region[country] = region

In [16]:
# Add the 'Region' column in df_2017, df_2018, df_2019

for df in [df_2017, df_2018, df_2019]:
    df['Region'] = df['Country'].map(country_to_region)

In [17]:
# checking that it has been correctly added

for i, df in enumerate(dfs, start=2015):
    print(f"Head of df_{i}:")
    display(df.head())
    print("\n" + "-"*50 + "\n")

Head of df_2015:

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

--------------------------------------------------

Head of df_2016:

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

--------------------------------------------------

Head of df_2017:

,Country,Happiness Rank,Happiness Score,Whisker High,Whisker Low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Region
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Western Europe
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,Western Europe
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,Western Europe
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,Western Europe
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Western Europe

--------------------------------------------------

Head of df_2018:

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,Western Europe
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,Western Europe
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,Western Europe
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,Western Europe
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,Western Europe

--------------------------------------------------

Head of df_2019:

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Region
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Western Europe
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Western Europe
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Western Europe
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Western Europe
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Western Europe

--------------------------------------------------

In [18]:
# checking for missing values in region column

for i, df in enumerate(dfs, start=2015):
    missing_rows = df[df['Region'].isnull()]
    print(f"\nCountries with missing 'Region' in df_{i}:")
    print(missing_rows['Country'].tolist())

Countries with missing 'Region' in df_2015:
[]

Countries with missing 'Region' in df_2016:
[]

Countries with missing 'Region' in df_2017:
['Taiwan Province of China', 'Belize', 'Hong Kong S.A.R., China', 'Somalia', 'Namibia', 'South Sudan']

Countries with missing 'Region' in df_2018:
['Trinidad & Tobago', 'Belize', 'Northern Cyprus', 'Somalia', 'Namibia', 'South Sudan']

Countries with missing 'Region' in df_2019:
['Trinidad & Tobago', 'Northern Cyprus', 'North Macedonia', 'Somalia', 'Namibia', 'Gambia', 'South Sudan']

In [19]:
# adding the missing regions

country_region_mapping = {
    'Taiwan Province of China': 'East Asia',
    'Belize': 'Latin America and Caribbean',
    'Hong Kong S.A.R., China': 'East Asia',
    'Somalia': 'Sub-Saharan Africa',
    'Namibia': 'Sub-Saharan Africa',
    'South Sudan': 'Sub-Saharan Africa',
    'Trinidad & Tobago': 'Latin America and Caribbean',
    'Northern Cyprus': 'Northern Cyprus', 
    'North Macedonia': 'Southeastern Europe',
    'Gambia': 'Sub-Saharan Africa'
}

In [20]:
for df in [df_2017, df_2018, df_2019]:
    mask = df['Region'].isnull() | (df['Region'] == 'Unknown')
    df.loc[mask, 'Region'] = df.loc[mask, 'Country'].map(country_region_mapping)

In [21]:
# checking for missing values in region column

for i, df in enumerate(dfs, start=2015):
    missing_rows = df[df['Region'].isnull()]
    print(f"\nCountries with missing 'Region' in df_{i}:")
    print(missing_rows['Country'].tolist())

Countries with missing 'Region' in df_2015:
[]

Countries with missing 'Region' in df_2016:
[]

Countries with missing 'Region' in df_2017:
[]

Countries with missing 'Region' in df_2018:
[]

Countries with missing 'Region' in df_2019:
[]

#### 4 Preparing the Data to merge

In [22]:
# renaming the columns to reflect the year they are from to make it easier for merging the data

# for df_2015
df_2015 = df_2015.rename(columns=lambda x: f"{x} 2015" if x not in ['Country', 'Region'] else x)

# for df_2016
df_2016 = df_2016.rename(columns=lambda x: f"{x} 2016" if x not in ['Country', 'Region'] else x)

# For df_2017
df_2017 = df_2017.rename(columns=lambda x: f"{x} 2017" if x not in ['Country', 'Region'] else x)

# For df_2018
df_2018 = df_2018.rename(columns=lambda x: f"{x} 2018" if x not in ['Country', 'Region'] else x)

# For df_2019
df_2019 = df_2019.rename(columns=lambda x: f"{x} 2019" if x not in ['Country', 'Region'] else x)

In [23]:
df_2015.head()

,Country,Region,Happiness Rank 2015,Happiness Score 2015,Standard Error 2015,Economy (GDP per Capita) 2015,Family 2015,Health (Life Expectancy) 2015,Freedom 2015,Trust (Government Corruption) 2015,Generosity 2015,Dystopia Residual 2015
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [24]:
df_2016.head()

,Country,Region,Happiness Rank 2016,Happiness Score 2016,Lower Confidence Interval 2016,Upper Confidence Interval 2016,Economy (GDP per Capita) 2016,Family 2016,Health (Life Expectancy) 2016,Freedom 2016,Trust (Government Corruption) 2016,Generosity 2016,Dystopia Residual 2016
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

#### 4.1 Removing all unccessary columns

In [25]:
# for 2015

df_2015 = df_2015.drop(columns=['Standard Error 2015'])

In [26]:
df_2015.head()

,Country,Region,Happiness Rank 2015,Happiness Score 2015,Economy (GDP per Capita) 2015,Family 2015,Health (Life Expectancy) 2015,Freedom 2015,Trust (Government Corruption) 2015,Generosity 2015,Dystopia Residual 2015
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [27]:
# for 2016

df_2016 = df_2016.drop(columns=['Lower Confidence Interval 2016', 'Upper Confidence Interval 2016'])

In [28]:
df_2016.head()

,Country,Region,Happiness Rank 2016,Happiness Score 2016,Economy (GDP per Capita) 2016,Family 2016,Health (Life Expectancy) 2016,Freedom 2016,Trust (Government Corruption) 2016,Generosity 2016,Dystopia Residual 2016
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [29]:
# for 2017

df_2017 = df_2017.drop(columns=['Whisker High 2017', 'Whisker Low 2017'])

In [30]:
df_2017.head()

,Country,Happiness Rank 2017,Happiness Score 2017,Economy (GDP per Capita) 2017,Family 2017,Health (Life Expectancy) 2017,Freedom 2017,Generosity 2017,Trust (Government Corruption) 2017,Dystopia Residual 2017,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Western Europe

#### 5 Merging Data

In [31]:
merged_df = df_2015

# List all other DataFrames in order
dfs = [df_2016, df_2017, df_2018, df_2019]

# Merge each subsequent DataFrame
for df in dfs:
    merged_df = pd.merge(merged_df, df, on=['Country', 'Region'], how='outer')

In [32]:
merged_df.head()

,Country,Region,Happiness Rank 2015,Happiness Score 2015,Economy (GDP per Capita) 2015,Family 2015,Health (Life Expectancy) 2015,Freedom 2015,Trust (Government Corruption) 2015,Generosity 2015,...,Generosity 2018,Trust (Government Corruption) 2018,Happiness Rank 2019,Happiness Score 2019,Economy (GDP per Capita) 2019,Social Support 2019,Health (Life Expectancy) 2019,Freedom 2019,Generosity 2019,Trust (Government Corruption) 2019
0,Afghanistan,Southern Asia,153.0,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,...,0.191,0.036,154.0,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,Albania,Central and Eastern Europe,95.0,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,...,0.149,0.032,107.0,4.719,0.947,0.848,0.874,0.383,0.178,0.027
2,Algeria,Middle East and Northern Africa,68.0,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,...,0.055,0.135,88.0,5.211,1.002,1.160,0.785,0.086,0.073,0.114
3,Angola,Sub-Saharan Africa,137.0,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,...,0.079,0.061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,Latin America and Caribbean,30.0,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,...,0.062,0.054,47.0,6.086,1.092,1.432,0.881,0.471,0.066,0.050

In [33]:
# allow to see all columns 

pd.options.display.max_columns = None

In [34]:
merged_df.head()

,Country,Region,Happiness Rank 2015,Happiness Score 2015,Economy (GDP per Capita) 2015,Family 2015,Health (Life Expectancy) 2015,Freedom 2015,Trust (Government Corruption) 2015,Generosity 2015,Dystopia Residual 2015,Happiness Rank 2016,Happiness Score 2016,Economy (GDP per Capita) 2016,Family 2016,Health (Life Expectancy) 2016,Freedom 2016,Trust (Government Corruption) 2016,Generosity 2016,Dystopia Residual 2016,Happiness Rank 2017,Happiness Score 2017,Economy (GDP per Capita) 2017,Family 2017,Health (Life Expectancy) 2017,Freedom 2017,Generosity 2017,Trust (Government Corruption) 2017,Dystopia Residual 2017,Happiness Rank 2018,Happiness Score 2018,Economy (GDP per Capita) 2018,Social Support 2018,Health (Life Expectancy) 2018,Freedom 2018,Generosity 2018,Trust (Government Corruption) 2018,Happiness Rank 2019,Happiness Score 2019,Economy (GDP per Capita) 2019,Social Support 2019,Health (Life Expectancy) 2019,Freedom 2019,Generosity 2019,Trust (Government Corruption) 2019
0,Afghanistan,Southern Asia,153.0,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,154.0,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,141.0,3.794,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801,145.0,3.632,0.332,0.537,0.255,0.085,0.191,0.036,154.0,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,Albania,Central and Eastern Europe,95.0,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894,109.0,4.655,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816,109.0,4.644,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442,112.0,4.586,0.916,0.817,0.790,0.419,0.149,0.032,107.0,4.719,0.947,0.848,0.874,0.383,0.178,0.027
2,Algeria,Middle East and Northern Africa,68.0,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209,38.0,6.355,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904,53.0,5.872,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2.567604,84.0,5.295,0.979,1.154,0.687,0.077,0.055,0.135,88.0,5.211,1.002,1.160,0.785,0.086,0.073,0.114
3,Angola,Sub-Saharan Africa,137.0,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939,141.0,3.866,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459,140.0,3.795,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482,142.0,3.795,0.730,1.125,0.269,0.000,0.079,0.061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,Latin America and Caribbean,30.0,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600,26.0,6.650,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985,24.0,6.599,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005,29.0,6.388,1.073,1.468,0.744,0.570,0.062,0.054,47.0,6.086,1.092,1.432,0.881,0.471,0.066,0.050

#### 6 Export Data

In [35]:
# Export data to pkl

merged_df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'Merged World Happiness Rankings.pkl'))