## Contents
    0.1 Importing Libraries
    0.2 Importing 2015 Data
        0.3 Initial Inspection of 2015 Data
        0.4 Identify Missing Values
        0.5 Remove Duplicates
        0.6 Exporting Cleaned Data
    1.1 Importing 2016 Data
        1.2 Initial Inspection of 2016 Data
        1.3 Identify Missing Values
        1.4 Remove Duplicates
        1.5 Exporting Cleaned Data
    2.1 Importing 2017 Data
        2.2 Initial Inspection of 2017 Data
        2.3 Updating Column Names
        2.4 Identify Missing Values
        2.5 Remove Duplicates
        2.6 Exporting Cleaned Data
    3.1 Importing 2018 Data
        3.2 Initial Inspection of 2018 Data
        3.3 Updating Column Names
        3.4 Identify Missing Values
        3.5 Remove Duplicates
        3.6 Exporting Cleaned Data
    4.1 Importing 2019 Data
        4.2 Initial Inspection of 2019 Data
        4.3 Updating Column Names
        4.4 Identify Missing Values
        4.5 Remove Duplicates
        4.6 Exporting Cleaned Data

#### 0.1 Importing Libraries

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# establishing a path

path = '/Users/vickyczada/Library/CloudStorage/OneDrive-Personal/Documents/Career Foundry/Data Immersion/Achievement 6/World Happiness Report'

In [3]:
path

'/Users/vickyczada/Library/CloudStorage/OneDrive-Personal/Documents/Career Foundry/Data Immersion/Achievement 6/World Happiness Report'

#### 0.2 Importing 2015 Data

In [6]:
# importing dataframe

df_2015 = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', '2015.csv'), index_col = False)

In [7]:
# checking dataframe

df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [15]:
df_2015.tail()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

Unclear what the column Standard Error is for and if it needs to be removed

#### 0.3 Initial Inspection of 2015 Data

In [9]:
# summary statistics

print(df_2015.info)

<bound method DataFrame.info of          Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual
0       0.29678            2.51738
1       0.43630            2.70201
2       0.34139            2.49204
3       0.34699            2.46531
4       0.45811            2.45176
..          ...                ...
153     0.22628            0.67042
154     0.18260            1.63328
155     0.47179            0.32858
156     0.19727            1.83302
157     0.16681            1.56726

[158 rows x 12 columns]>

In [10]:
df_2015.shape

(158, 12)

In [12]:
df_2015.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [13]:
df_2015.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

All dtypes look correct

Column Names: All look good and reflect what is in the column no changes to be made

#### 0.4 Identify Missing Values

In [14]:
# Count missing values per column

print(df_2015.isnull().sum())

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

No missing values indentified

#### 0.5 Remove Duplicates

In [21]:
# find duplicates

df_dups = df_2015[df_2015.duplicated()]

In [22]:
df_dups

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [18]:
df_dups.shape

(0, 12)

No duplicates found

#### 0.6 Exporting Cleaned Data

In [23]:
df_2015.to_pickle(os.path.join(path, '02 Data','Prepared Data', '2015_World_Happiness_Report.pkl'))

#### 1.1 Importing 2016 Data

In [24]:
# importing dataframe

df_2016 = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', '2016.csv'), index_col = False)

In [26]:
# checking dataframe
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [27]:
df_2016.tail()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

#### 1.2 Initial Inspection of 2016 Data

In [28]:
# summary statistics

print(df_2016.info)

<bound method DataFrame.info of          Country                           Region  Happiness Rank  \
0        Denmark                   Western Europe               1
1    Switzerland                   Western Europe               2
2        Iceland                   Western Europe               3
3         Norway                   Western Europe               4
4        Finland                   Western Europe               5
..           ...                              ...             ...
152        Benin               Sub-Saharan Africa             153
153  Afghanistan                    Southern Asia             154
154         Togo               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157

     Happiness Score  Lower Confidence Interval  Upper Confidence Interval  \
0              7.526                      7.460                      7.592
1              7.509                      7.428                      7.590
2              7.501                      7.333                      7.669
3              7.498                      7.421                      7.575
4              7.413                      7.351                      7.475
..               ...                        ...                        ...
152            3.484                      3.404                      3.564
153            3.360                      3.288                      3.432
154            3.303                      3.192                      3.414
155            3.069                      2.936                      3.202
156            2.905                      2.732                      3.078

     Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                     1.44178  1.16374                   0.79504  0.57941
1                     1.52733  1.14524                   0.86303  0.58557
2                     1.42666  1.18326                   0.86733  0.56624
3                     1.57744  1.12690                   0.79579  0.59609
4                     1.40598  1.13464                   0.81091  0.57104
..                        ...      ...                       ...      ...
152                   0.39499  0.10419                   0.21028  0.39747
153                   0.38227  0.11037                   0.17344  0.16430
154                   0.28123  0.00000                   0.24811  0.34678
155                   0.74719  0.14866                   0.62994  0.06912
156                   0.06831  0.23442                   0.15747  0.04320

     Trust (Government Corruption)  Generosity  Dystopia Residual
0                          0.44453     0.36171            2.73939
1                          0.41203     0.28083            2.69463
2                          0.14975     0.47678            2.83137
3                          0.35776     0.37895            2.66465
4                          0.41004     0.25492            2.82596
..                             ...         ...                ...
152                        0.06681     0.20180            2.10812
153                        0.07112     0.31268            2.14558
154                        0.11587     0.17517            2.13540
155                        0.17233     0.48397            0.81789
156                        0.09419     0.20290            2.10404

[157 rows x 13 columns]>

In [29]:
df_2016.shape

(157, 13)

In [30]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

2 of the column names are different in 2015 there is the column 'Standard Error' however there is not in 2016 instead it has 'Lower Confidence Interval' and 'Upper Confidence Interval', need to research but may need to remove to merge the data

In [31]:
df_2016.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [32]:
df_2016.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Lower Confidence Interval        float64
Upper Confidence Interval        float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

Dtypes look the same as 2015 and all look good

#### 1.3 Identify Missing Values

In [33]:
# Count missing values per column

print(df_2016.isnull().sum())

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

No missing values

#### 1.4 Remove Duplicates

In [34]:
# find duplicates

df_dups_2016 = df_2016[df_2016.duplicated()]

In [35]:
df_dups_2016

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Lower Confidence Interval, Upper Confidence Interval, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [36]:
df_dups_2016.shape

(0, 13)

No duplicates found

#### 1.5 Exporting Cleaned Data

In [37]:
df_2016.to_pickle(os.path.join(path, '02 Data','Prepared Data', '2016_World_Happiness_Report.pkl'))

#### 2.1 Importing 2017 Data

In [38]:
# importing dataframe

df_2017 = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', '2017.csv'), index_col = False)

In [39]:
# checking dataframe

df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [40]:
df_2017.tail()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

#### 2.2 Initial Inspection of 2017 Data

In [41]:
# summary statistics

print(df_2017.info)

<bound method DataFrame.info of                       Country  Happiness.Rank  Happiness.Score  Whisker.high  \
0                      Norway               1            7.537      7.594445
1                     Denmark               2            7.522      7.581728
2                     Iceland               3            7.504      7.622030
3                 Switzerland               4            7.494      7.561772
4                     Finland               5            7.469      7.527542
..                        ...             ...              ...           ...
150                    Rwanda             151            3.471      3.543030
151                     Syria             152            3.462      3.663669
152                  Tanzania             153            3.349      3.461430
153                   Burundi             154            2.905      3.074690
154  Central African Republic             155            2.693      2.864884

     Whisker.low  Economy..GDP.per.Capita.    Family  \
0       7.479556                  1.616463  1.533524
1       7.462272                  1.482383  1.551122
2       7.385970                  1.480633  1.610574
3       7.426227                  1.564980  1.516912
4       7.410458                  1.443572  1.540247
..           ...                       ...       ...
150     3.398970                  0.368746  0.945707
151     3.260331                  0.777153  0.396103
152     3.236570                  0.511136  1.041990
153     2.735310                  0.091623  0.629794
154     2.521116                  0.000000  0.000000

     Health..Life.Expectancy.   Freedom  Generosity  \
0                    0.796667  0.635423    0.362012
1                    0.792566  0.626007    0.355280
2                    0.833552  0.627163    0.475540
3                    0.858131  0.620071    0.290549
4                    0.809158  0.617951    0.245483
..                        ...       ...         ...
150                  0.326425  0.581844    0.252756
151                  0.500533  0.081539    0.493664
152                  0.364509  0.390018    0.354256
153                  0.151611  0.059901    0.204435
154                  0.018773  0.270842    0.280876

     Trust..Government.Corruption.  Dystopia.Residual
0                         0.315964           2.277027
1                         0.400770           2.313707
2                         0.153527           2.322715
3                         0.367007           2.276716
4                         0.382612           2.430182
..                             ...                ...
150                       0.455220           0.540061
151                       0.151347           1.061574
152                       0.066035           0.621130
153                       0.084148           1.683024
154                       0.056565           2.066005

[155 rows x 12 columns]>

In [42]:
df_2017.shape

(155, 12)

In [43]:
df_2017.describe()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [44]:
df_2017.dtypes

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                           float64
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
dtype: object

In [45]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

There is no regional data for this year, look at the last 2 years and decide if to add it in or remove the column from the other years.

#### 2.3 Update Column Names

In [46]:
df_2017.rename(columns={
    'Happiness.Rank': 'Happiness Rank',
    'Happiness.Score': 'Happiness Score',
    'Whisker.high': 'Whisker High',
    'Whisker.low': 'Whisker Low',
    'Economy..GDP.per.Capita.': 'Economy (GDP per Capita)',
    'Family': 'Family',
    'Health..Life.Expectancy.': 'Health (Life Expectancy)',
    'Freedom': 'Freedom',
    'Trust..Government.Corruption.': 'Trust (Government Corruption)',
    'Generosity': 'Generosity',
    'Dystopia.Residual': 'Dystopia Residual'
}, inplace=True)

For now, I will retain the "Whisker High" and "Whisker Low" columns in the dataset. Since these columns are similar to the "Upper Confidence Interval" and "Lower Confidence Interval" columns but exhibit inconsistencies across the data period, I prefer to hold off on merging them. In future analysis, once I evaluate the overall data quality and consistency, I can decide whether to exclude or integrate these columns. If I determine that the data can be merged smoothly, I will remove the "Whisker" columns to avoid redundancy.

In [48]:
# check the change in name

df_2017.head()

,Country,Happiness Rank,Happiness Score,Whisker High,Whisker Low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

#### 2.4 Identify Missing Values

In [49]:
# Count missing values per column

print(df_2017.isnull().sum())

Country                          0
Happiness Rank                   0
Happiness Score                  0
Whisker High                     0
Whisker Low                      0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    0
Dystopia Residual                0
dtype: int64

No missing values identified

#### 2.5 Remove Duplicates

In [51]:
# find duplicates

df_dups_2017 = df_2017[df_2017.duplicated()]

In [52]:
df_dups_2017

Empty DataFrame
Columns: [Country, Happiness Rank, Happiness Score, Whisker High, Whisker Low, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Generosity, Trust (Government Corruption), Dystopia Residual]
Index: []

In [53]:
df_dups_2017.shape

(0, 12)

#### 2.6 Exporting Cleaned Data

In [99]:
df_2017.to_pickle(os.path.join(path, '02 Data','Prepared Data', '2017_World_Happiness_Report.pkl'))

#### 3.1 Importing 2018 Data

In [54]:
# importing dataframe

df_2018 = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', '2018.csv'), index_col = False)

In [55]:
# checking dataframe

df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [56]:
df_2018.tail()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

#### 3.2 Initial Inspection of 2018 Data

In [57]:
# summary statistics

print(df_2018.info)

<bound method DataFrame.info of      Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.632           1.305
1               2                    Norway  7.594           1.456
2               3                   Denmark  7.555           1.351
3               4                   Iceland  7.495           1.343
4               5               Switzerland  7.487           1.420
..            ...                       ...    ...             ...
151           152                     Yemen  3.355           0.442
152           153                  Tanzania  3.303           0.455
153           154               South Sudan  3.254           0.337
154           155  Central African Republic  3.083           0.024
155           156                   Burundi  2.905           0.091

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.592                    0.874                         0.681
1             1.582                    0.861                         0.686
2             1.590                    0.868                         0.683
3             1.644                    0.914                         0.677
4             1.549                    0.927                         0.660
..              ...                      ...                           ...
151           1.073                    0.343                         0.244
152           0.991                    0.381                         0.481
153           0.608                    0.177                         0.112
154           0.000                    0.010                         0.305
155           0.627                    0.145                         0.065

     Generosity  Perceptions of corruption
0         0.202                      0.393
1         0.286                      0.340
2         0.284                      0.408
3         0.353                      0.138
4         0.256                      0.357
..          ...                        ...
151       0.083                      0.064
152       0.270                      0.097
153       0.224                      0.106
154       0.218                      0.038
155       0.149                      0.076

[156 rows x 9 columns]>

In [58]:
df_2018.shape

(156, 9)

In [59]:
df_2018.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [60]:
df_2018.dtypes

Overall rank                      int64
Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

#### 3.3 Update Column Names

In [61]:
df_2018.rename(columns={
    'Overall rank': 'Happiness Rank',
    'Score': 'Happiness Score',
    'GDP per capita': 'Economy (GDP per Capita)',
    'Social support': 'Social Support',
    'Healthy life expectancy': 'Health (Life Expectancy)',
    'Freedom to make life choices': 'Freedom',
    'Generosity': 'Generosity',
    'Perceptions of corruption': 'Trust (Government Corruption)',
}, inplace=True)

In [62]:
# check they have changed 

df_2018.head()

,Happiness Rank,Country or region,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [63]:
df_2018['Country or region'].value_counts()

Country or region
Finland      1
Ghana        1
Nepal        1
Venezuela    1
Gabon        1
            ..
Latvia       1
Japan        1
Mauritius    1
Jamaica      1
Burundi      1
Name: count, Length: 156, dtype: int64

In [72]:
# allow to see all rows 

pd.set_option('display.max_rows', None)

In [71]:
df_2018['Country or region'].value_counts()

Country or region
Finland                     1
Ghana                       1
Nepal                       1
Venezuela                   1
Gabon                       1
Palestinian Territories     1
South Africa                1
Iran                        1
Ivory Coast                 1
Senegal                     1
Cameroon                    1
Laos                        1
Tunisia                     1
Albania                     1
Sierra Leone                1
Congo (Brazzaville)         1
Bangladesh                  1
Sri Lanka                   1
Bulgaria                    1
Somalia                     1
Norway                      1
Tajikistan                  1
Montenegro                  1
Croatia                     1
Dominican Republic          1
Algeria                     1
Morocco                     1
China                       1
Azerbaijan                  1
Macedonia                   1
Bhutan                      1
Jordan                      1
Nigeria                     1
Kyrgyzstan                  1
Bosnia and Herzegovina      1
Mongolia                    1
Vietnam                     1
Indonesia                   1
Iraq                        1
Mali                        1
Namibia                     1
Malawi                      1
Guinea                      1
Lesotho                     1
Angola                      1
Madagascar                  1
Zimbabwe                    1
Afghanistan                 1
Botswana                    1
Haiti                       1
Cambodia                    1
Liberia                     1
Syria                       1
Rwanda                      1
Yemen                       1
Tanzania                    1
South Sudan                 1
Central African Republic    1
Togo                        1
Ukraine                     1
Sudan                       1
Benin                       1
Burkina Faso                1
Egypt                       1
Mozambique                  1
Kenya                       1
Zambia                      1
Mauritania                  1
Ethiopia                    1
Georgia                     1
Armenia                     1
Myanmar                     1
Chad                        1
Congo (Kinshasa)            1
India                       1
Niger                       1
Uganda                      1
Lebanon                     1
Greece                      1
Serbia                      1
Argentina                   1
Malta                       1
France                      1
Mexico                      1
Chile                       1
Taiwan                      1
Panama                      1
Brazil                      1
Guatemala                   1
Slovakia                    1
Uruguay                     1
Qatar                       1
Saudi Arabia                1
Singapore                   1
Malaysia                    1
Spain                       1
Colombia                    1
Czech Republic              1
United Arab Emirates        1
Israel                      1
United States               1
Denmark                     1
Iceland                     1
Switzerland                 1
Netherlands                 1
Canada                      1
New Zealand                 1
Sweden                      1
Australia                   1
United Kingdom              1
Austria                     1
Costa Rica                  1
Ireland                     1
Germany                     1
Belgium                     1
Luxembourg                  1
Trinidad & Tobago           1
El Salvador                 1
Portugal                    1
Turkmenistan                1
Cyprus                      1
Bolivia                     1
Estonia                     1
Paraguay                    1
Peru                        1
Kosovo                      1
Moldova                     1
Hungary                     1
Nicaragua                   1
Libya                       1
Philippines                 1
Honduras                    1
Belarus                     1
Turkey                      1
Pakistan                    1
Hong Kong                   1
Kazakhstan                  1
Russia                      1
Northern Cyprus             1
South Korea                 1
Poland                      1
Bahrain                     1
Uzbekistan                  1
Kuwait                      1
Thailand                    1
Italy                       1
Ecuador                     1
Belize                      1
Lithuania                   1
Slovenia                    1
Romania                     1
Latvia                      1
Japan                       1
Mauritius                   1
Jamaica                     1
Burundi                     1
Name: count, dtype: int64

In [73]:
# compare against 2016 country column

df_2016['Country'].value_counts()

Country
Denmark                    1
Albania                    1
Laos                       1
Nigeria                    1
Honduras                   1
Iran                       1
Zambia                     1
Nepal                      1
Palestinian Territories    1
Bangladesh                 1
Tajikistan                 1
Sierra Leone               1
Iraq                       1
Namibia                    1
Cameroon                   1
Ethiopia                   1
South Africa               1
Sri Lanka                  1
Mongolia                   1
Greece                     1
Jordan                     1
Dominican Republic         1
Philippines                1
China                      1
Bhutan                     1
Kyrgyzstan                 1
Serbia                     1
Bosnia and Herzegovina     1
Montenegro                 1
Morocco                    1
Tunisia                    1
Hungary                    1
Pakistan                   1
Lebanon                    1
Portugal                   1
Macedonia                  1
Vietnam                    1
Somaliland Region          1
India                      1
Myanmar                    1
Egypt                      1
Madagascar                 1
Angola                     1
Niger                      1
South Sudan                1
Chad                       1
Burkina Faso               1
Uganda                     1
Yemen                      1
Tanzania                   1
Armenia                    1
Liberia                    1
Guinea                     1
Rwanda                     1
Benin                      1
Afghanistan                1
Togo                       1
Syria                      1
Cambodia                   1
Ivory Coast                1
Comoros                    1
Botswana                   1
Kenya                      1
Ukraine                    1
Ghana                      1
Congo (Kinshasa)           1
Georgia                    1
Congo (Brazzaville)        1
Senegal                    1
Bulgaria                   1
Mauritania                 1
Zimbabwe                   1
Malawi                     1
Sudan                      1
Gabon                      1
Mali                       1
Haiti                      1
Azerbaijan                 1
Indonesia                  1
Switzerland                1
Malta                      1
United Kingdom             1
Chile                      1
Panama                     1
Argentina                  1
Czech Republic             1
United Arab Emirates       1
Uruguay                    1
Colombia                   1
Mexico                     1
France                     1
Thailand                   1
Saudi Arabia               1
Taiwan                     1
Qatar                      1
Spain                      1
Algeria                    1
Singapore                  1
Luxembourg                 1
Turkey                     1
Sweden                     1
Iceland                    1
Norway                     1
Finland                    1
Canada                     1
Netherlands                1
New Zealand                1
Australia                  1
Israel                     1
Ireland                    1
Austria                    1
United States              1
Costa Rica                 1
Puerto Rico                1
Germany                    1
Brazil                     1
Belgium                    1
Guatemala                  1
Suriname                   1
Kuwait                     1
Cyprus                     1
North Cyprus               1
Slovenia                   1
Peru                       1
Turkmenistan               1
Mauritius                  1
Libya                      1
Latvia                     1
Paraguay                   1
Bahrain                    1
Romania                    1
Estonia                    1
Jamaica                    1
Croatia                    1
Hong Kong                  1
Somalia                    1
Kosovo                     1
Belarus                    1
Lithuania                  1
Bolivia                    1
South Korea                1
Trinidad and Tobago        1
Venezuela                  1
Slovakia                   1
El Salvador                1
Malaysia                   1
Nicaragua                  1
Uzbekistan                 1
Italy                      1
Ecuador                    1
Belize                     1
Japan                      1
Kazakhstan                 1
Moldova                    1
Russia                     1
Poland                     1
Burundi                    1
Name: count, dtype: int64

There are no regions in the column therefore I will change the name of the column to Country like the other years instead of country or region

In [74]:
# change the column name 

df_2018.rename(columns={
    'Country or region': 'Country'
}, inplace=True)

In [75]:
# check

df_2018.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

#### 3.4 Identify Missing Values

In [76]:
# Count missing values per column

print(df_2018.isnull().sum())

Happiness Rank                   0
Country                          0
Happiness Score                  0
Economy (GDP per Capita)         0
Social Support                   0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    1
dtype: int64

Only one missing value, will not remove as it will not affect the overall outcome of the data

#### 3.5 Remove Duplicates

In [77]:
# find duplicates

df_dups_2018 = df_2018[df_2018.duplicated()]

In [78]:
df_dups_2018

Empty DataFrame
Columns: [Happiness Rank, Country, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom, Generosity, Trust (Government Corruption)]
Index: []

In [79]:
df_dups_2018.shape

(0, 9)

#### 3.6 Exporting Cleaned Data

In [98]:
df_2018.to_pickle(os.path.join(path, '02 Data','Prepared Data', '2018_World_Happiness_Report.pkl'))

#### 4.1 Importing 2019 Data

In [80]:
# importing dataframe

df_2019 = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', '2019.csv'), index_col = False)

In [82]:
# checking dataframe

df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [83]:
df_2019.tail()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

#### 4.2 Initial Inspection of 2019 Data

In [84]:
# summary statistics

print(df_2019.info)

<bound method DataFrame.info of      Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.769           1.340
1               2                   Denmark  7.600           1.383
2               3                    Norway  7.554           1.488
3               4                   Iceland  7.494           1.380
4               5               Netherlands  7.488           1.396
5               6               Switzerland  7.480           1.452
6               7                    Sweden  7.343           1.387
7               8               New Zealand  7.307           1.303
8               9                    Canada  7.278           1.365
9              10                   Austria  7.246           1.376
10             11                 Australia  7.228           1.372
11             12                Costa Rica  7.167           1.034
12             13                    Israel  7.139           1.276
13             14                Luxembourg  7.090           1.609
14             15            United Kingdom  7.054           1.333
15             16                   Ireland  7.021           1.499
16             17                   Germany  6.985           1.373
17             18                   Belgium  6.923           1.356
18             19             United States  6.892           1.433
19             20            Czech Republic  6.852           1.269
20             21      United Arab Emirates  6.825           1.503
21             22                     Malta  6.726           1.300
22             23                    Mexico  6.595           1.070
23             24                    France  6.592           1.324
24             25                    Taiwan  6.446           1.368
25             26                     Chile  6.444           1.159
26             27                 Guatemala  6.436           0.800
27             28              Saudi Arabia  6.375           1.403
28             29                     Qatar  6.374           1.684
29             30                     Spain  6.354           1.286
30             31                    Panama  6.321           1.149
31             32                    Brazil  6.300           1.004
32             33                   Uruguay  6.293           1.124
33             34                 Singapore  6.262           1.572
34             35               El Salvador  6.253           0.794
35             36                     Italy  6.223           1.294
36             37                   Bahrain  6.199           1.362
37             38                  Slovakia  6.198           1.246
38             39         Trinidad & Tobago  6.192           1.231
39             40                    Poland  6.182           1.206
40             41                Uzbekistan  6.174           0.745
41             42                 Lithuania  6.149           1.238
42             43                  Colombia  6.125           0.985
43             44                  Slovenia  6.118           1.258
44             45                 Nicaragua  6.105           0.694
45             46                    Kosovo  6.100           0.882
46             47                 Argentina  6.086           1.092
47             48                   Romania  6.070           1.162
48             49                    Cyprus  6.046           1.263
49             50                   Ecuador  6.028           0.912
50             51                    Kuwait  6.021           1.500
51             52                  Thailand  6.008           1.050
52             53                    Latvia  5.940           1.187
53             54               South Korea  5.895           1.301
54             55                   Estonia  5.893           1.237
55             56                   Jamaica  5.890           0.831
56             57                 Mauritius  5.888           1.120
57             58                     Japan  5.886           1.327
58             59                  Honduras  5.860           0.642
59             60                Kazakhstan  5.809           1.173
60             61                   Bolivia  5.779           0.776
61             62                   Hungary  5.758           1.201
62             63                  Paraguay  5.743           0.855
63             64           Northern Cyprus  5.718           1.263
64             65                      Peru  5.697           0.960
65             66                  Portugal  5.693           1.221
66             67                  Pakistan  5.653           0.677
67             68                    Russia  5.648           1.183
68             69               Philippines  5.631           0.807
69             70                    Serbia  5.603           1.004
70             71                   Moldova  5.529           0.685
71             72                     Libya  5.525           1.044
72             73                Montenegro  5.523           1.051
73             74                Tajikistan  5.467           0.493
74             75                   Croatia  5.432           1.155
75             76                 Hong Kong  5.430           1.438
76             77        Dominican Republic  5.425           1.015
77             78    Bosnia and Herzegovina  5.386           0.945
78             79                    Turkey  5.373           1.183
79             80                  Malaysia  5.339           1.221
80             81                   Belarus  5.323           1.067
81             82                    Greece  5.287           1.181
82             83                  Mongolia  5.285           0.948
83             84           North Macedonia  5.274           0.983
84             85                   Nigeria  5.265           0.696
85             86                Kyrgyzstan  5.261           0.551
86             87              Turkmenistan  5.247           1.052
87             88                   Algeria  5.211           1.002
88             89                   Morocco  5.208           0.801
89             90                Azerbaijan  5.208           1.043
90             91                   Lebanon  5.197           0.987
91             92                 Indonesia  5.192           0.931
92             93                     China  5.191           1.029
93             94                   Vietnam  5.175           0.741
94             95                    Bhutan  5.082           0.813
95             96                  Cameroon  5.044           0.549
96             97                  Bulgaria  5.011           1.092
97             98                     Ghana  4.996           0.611
98             99               Ivory Coast  4.944           0.569
99            100                     Nepal  4.913           0.446
100           101                    Jordan  4.906           0.837
101           102                     Benin  4.883           0.393
102           103       Congo (Brazzaville)  4.812           0.673
103           104                     Gabon  4.799           1.057
104           105                      Laos  4.796           0.764
105           106              South Africa  4.722           0.960
106           107                   Albania  4.719           0.947
107           108                 Venezuela  4.707           0.960
108           109                  Cambodia  4.700           0.574
109           110   Palestinian Territories  4.696           0.657
110           111                   Senegal  4.681           0.450
111           112                   Somalia  4.668           0.000
112           113                   Namibia  4.639           0.879
113           114                     Niger  4.628           0.138
114           115              Burkina Faso  4.587           0.331
115           116                   Armenia  4.559           0.850
116           117                      Iran  4.548           1.100
117           118                    Guinea  4.534           0.380
118           119                   Georgia  4.519           0.886
119           120                    Gambia  4.516           0.308
120           121                     Kenya  4.509           0.512
121           122                Mauritania  4.490           0.570
122           123                Mozambique  4.466           0.204
123           124                   Tunisia  4.461           0.921
124           125                Bangladesh  4.456           0.562
125           126                      Iraq  4.437           1.043
126           127          Congo (Kinshasa)  4.418           0.094
127           128                      Mali  4.390           0.385
128           129              Sierra Leone  4.374           0.268
129           130                 Sri Lanka  4.366           0.949
130           131                   Myanmar  4.360           0.710
131           132                      Chad  4.350           0.350
132           133                   Ukraine  4.332           0.820
133           134                  Ethiopia  4.286           0.336
134           135                 Swaziland  4.212           0.811
135           136                    Uganda  4.189           0.332
136           137                     Egypt  4.166           0.913
137           138                    Zambia  4.107           0.578
138           139                      Togo  4.085           0.275
139           140                     India  4.015           0.755
140           141                   Liberia  3.975           0.073
141           142                   Comoros  3.973           0.274
142           143                Madagascar  3.933           0.274
143           144                   Lesotho  3.802           0.489
144           145                   Burundi  3.775           0.046
145           146                  Zimbabwe  3.663           0.366
146           147                     Haiti  3.597           0.323
147           148                  Botswana  3.488           1.041
148           149                     Syria  3.462           0.619
149           150                    Malawi  3.410           0.191
150           151                     Yemen  3.380           0.287
151           152                    Rwanda  3.334           0.359
152           153                  Tanzania  3.231           0.476
153           154               Afghanistan  3.203           0.350
154           155  Central African Republic  3.083           0.026
155           156               South Sudan  2.853           0.306

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.587                    0.986                         0.596
1             1.573                    0.996                         0.592
2             1.582                    1.028                         0.603
3             1.624                    1.026                         0.591
4             1.522                    0.999                         0.557
5             1.526                    1.052                         0.572
6             1.487                    1.009                         0.574
7             1.557                    1.026                         0.585
8             1.505                    1.039                         0.584
9             1.475                    1.016                         0.532
10            1.548                    1.036                         0.557
11            1.441                    0.963                         0.558
12            1.455                    1.029                         0.371
13            1.479                    1.012                         0.526
14            1.538                    0.996                         0.450
15            1.553                    0.999                         0.516
16            1.454                    0.987                         0.495
17            1.504                    0.986                         0.473
18            1.457                    0.874                         0.454
19            1.487                    0.920                         0.457
20            1.310                    0.825                         0.598
21            1.520                    0.999                         0.564
22            1.323                    0.861                         0.433
23            1.472                    1.045                         0.436
24            1.430                    0.914                         0.351
25            1.369                    0.920                         0.357
26            1.269                    0.746                         0.535
27            1.357                    0.795                         0.439
28            1.313                    0.871                         0.555
29            1.484                    1.062                         0.362
30            1.442                    0.910                         0.516
31            1.439                    0.802                         0.390
32            1.465                    0.891                         0.523
33            1.463                    1.141                         0.556
34            1.242                    0.789                         0.430
35            1.488                    1.039                         0.231
36            1.368                    0.871                         0.536
37            1.504                    0.881                         0.334
38            1.477                    0.713                         0.489
39            1.438                    0.884                         0.483
40            1.529                    0.756                         0.631
41            1.515                    0.818                         0.291
42            1.410                    0.841                         0.470
43            1.523                    0.953                         0.564
44            1.325                    0.835                         0.435
45            1.232                    0.758                         0.489
46            1.432                    0.881                         0.471
47            1.232                    0.825                         0.462
48            1.223                    1.042                         0.406
49            1.312                    0.868                         0.498
50            1.319                    0.808                         0.493
51            1.409                    0.828                         0.557
52            1.465                    0.812                         0.264
53            1.219                    1.036                         0.159
54            1.528                    0.874                         0.495
55            1.478                    0.831                         0.490
56            1.402                    0.798                         0.498
57            1.419                    1.088                         0.445
58            1.236                    0.828                         0.507
59            1.508                    0.729                         0.410
60            1.209                    0.706                         0.511
61            1.410                    0.828                         0.199
62            1.475                    0.777                         0.514
63            1.252                    1.042                         0.417
64            1.274                    0.854                         0.455
65            1.431                    0.999                         0.508
66            0.886                    0.535                         0.313
67            1.452                    0.726                         0.334
68            1.293                    0.657                         0.558
69            1.383                    0.854                         0.282
70            1.328                    0.739                         0.245
71            1.303                    0.673                         0.416
72            1.361                    0.871                         0.197
73            1.098                    0.718                         0.389
74            1.266                    0.914                         0.296
75            1.277                    1.122                         0.440
76            1.401                    0.779                         0.497
77            1.212                    0.845                         0.212
78            1.360                    0.808                         0.195
79            1.171                    0.828                         0.508
80            1.465                    0.789                         0.235
81            1.156                    0.999                         0.067
82            1.531                    0.667                         0.317
83            1.294                    0.838                         0.345
84            1.111                    0.245                         0.426
85            1.438                    0.723                         0.508
86            1.538                    0.657                         0.394
87            1.160                    0.785                         0.086
88            0.782                    0.782                         0.418
89            1.147                    0.769                         0.351
90            1.224                    0.815                         0.216
91            1.203                    0.660                         0.491
92            1.125                    0.893                         0.521
93            1.346                    0.851                         0.543
94            1.321                    0.604                         0.457
95            0.910                    0.331                         0.381
96            1.513                    0.815                         0.311
97            0.868                    0.486                         0.381
98            0.808                    0.232                         0.352
99            1.226                    0.677                         0.439
100           1.225                    0.815                         0.383
101           0.437                    0.397                         0.349
102           0.799                    0.508                         0.372
103           1.183                    0.571                         0.295
104           1.030                    0.551                         0.547
105           1.351                    0.469                         0.389
106           0.848                    0.874                         0.383
107           1.427                    0.805                         0.154
108           1.122                    0.637                         0.609
109           1.247                    0.672                         0.225
110           1.134                    0.571                         0.292
111           0.698                    0.268                         0.559
112           1.313                    0.477                         0.401
113           0.774                    0.366                         0.318
114           1.056                    0.380                         0.255
115           1.055                    0.815                         0.283
116           0.842                    0.785                         0.305
117           0.829                    0.375                         0.332
118           0.666                    0.752                         0.346
119           0.939                    0.428                         0.382
120           0.983                    0.581                         0.431
121           1.167                    0.489                         0.066
122           0.986                    0.390                         0.494
123           1.000                    0.815                         0.167

In [85]:
df_2019.shape

(156, 9)

In [86]:
df_2019.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [87]:
df_2019.dtypes

Overall rank                      int64
Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

#### 3.3 Updating Column Names

In [88]:
df_2019.rename(columns={
    'Overall rank': 'Happiness Rank',
    'Score': 'Happiness Score',
    'GDP per capita': 'Economy (GDP per Capita)',
    'Social support': 'Social Support',
    'Healthy life expectancy': 'Health (Life Expectancy)',
    'Freedom to make life choices': 'Freedom',
    'Generosity': 'Generosity',
    'Perceptions of corruption': 'Trust (Government Corruption)'
}, inplace=True)

In [89]:
# check the update

df_2019.head()

,Happiness Rank,Country or region,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [90]:
df_2019['Country or region'].value_counts()

Country or region
Finland                     1
Venezuela                   1
Jordan                      1
Benin                       1
Congo (Brazzaville)         1
Gabon                       1
Laos                        1
South Africa                1
Albania                     1
Cambodia                    1
Ivory Coast                 1
Palestinian Territories     1
Senegal                     1
Somalia                     1
Namibia                     1
Niger                       1
Burkina Faso                1
Armenia                     1
Nepal                       1
Ghana                       1
Denmark                     1
Algeria                     1
Belarus                     1
Greece                      1
Mongolia                    1
North Macedonia             1
Nigeria                     1
Kyrgyzstan                  1
Turkmenistan                1
Morocco                     1
Bulgaria                    1
Azerbaijan                  1
Lebanon                     1
Indonesia                   1
China                       1
Vietnam                     1
Bhutan                      1
Cameroon                    1
Iran                        1
Guinea                      1
Georgia                     1
Haiti                       1
India                       1
Liberia                     1
Comoros                     1
Madagascar                  1
Lesotho                     1
Burundi                     1
Zimbabwe                    1
Botswana                    1
Gambia                      1
Syria                       1
Malawi                      1
Yemen                       1
Rwanda                      1
Tanzania                    1
Afghanistan                 1
Central African Republic    1
Togo                        1
Zambia                      1
Egypt                       1
Uganda                      1
Kenya                       1
Mauritania                  1
Mozambique                  1
Tunisia                     1
Bangladesh                  1
Iraq                        1
Congo (Kinshasa)            1
Mali                        1
Sierra Leone                1
Sri Lanka                   1
Myanmar                     1
Chad                        1
Ukraine                     1
Ethiopia                    1
Swaziland                   1
Malaysia                    1
Turkey                      1
Bosnia and Herzegovina      1
Qatar                       1
Malta                       1
Mexico                      1
France                      1
Taiwan                      1
Chile                       1
Guatemala                   1
Saudi Arabia                1
Spain                       1
Trinidad & Tobago           1
Panama                      1
Brazil                      1
Uruguay                     1
Singapore                   1
El Salvador                 1
Italy                       1
Bahrain                     1
United Arab Emirates        1
Czech Republic              1
United States               1
Belgium                     1
Norway                      1
Iceland                     1
Netherlands                 1
Switzerland                 1
Sweden                      1
New Zealand                 1
Canada                      1
Austria                     1
Australia                   1
Costa Rica                  1
Israel                      1
Luxembourg                  1
United Kingdom              1
Ireland                     1
Germany                     1
Slovakia                    1
Poland                      1
Dominican Republic          1
Russia                      1
Bolivia                     1
Hungary                     1
Paraguay                    1
Northern Cyprus             1
Peru                        1
Portugal                    1
Pakistan                    1
Philippines                 1
Uzbekistan                  1
Serbia                      1
Moldova                     1
Libya                       1
Montenegro                  1
Tajikistan                  1
Croatia                     1
Hong Kong                   1
Kazakhstan                  1
Honduras                    1
Japan                       1
Mauritius                   1
Lithuania                   1
Colombia                    1
Slovenia                    1
Nicaragua                   1
Kosovo                      1
Argentina                   1
Romania                     1
Cyprus                      1
Ecuador                     1
Kuwait                      1
Thailand                    1
Latvia                      1
South Korea                 1
Estonia                     1
Jamaica                     1
South Sudan                 1
Name: count, dtype: int64

In [91]:
# change the column name 

df_2019.rename(columns={
    'Country or region': 'Country'
}, inplace=True)

In [92]:
# check the change 

df_2019.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

#### 3.4 Identify Missing Values

In [93]:
# Count missing values per column

print(df_2019.isnull().sum())

Happiness Rank                   0
Country                          0
Happiness Score                  0
Economy (GDP per Capita)         0
Social Support                   0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    0
dtype: int64

No missing values found

#### 3.5 Remove Duplicates

In [94]:
# find duplicates

df_dups_2019 = df_2019[df_2019.duplicated()]

In [95]:
df_dups_2019

Empty DataFrame
Columns: [Happiness Rank, Country, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom, Generosity, Trust (Government Corruption)]
Index: []

In [96]:
df_dups_2019.shape

(0, 9)

#### 3.6 Exporting Cleaned Data

In [97]:
df_2019.to_pickle(os.path.join(path, '02 Data','Prepared Data', '2019_World_Happiness_Report.pkl'))